{% load static %}
<!DOCTYPE html>
<html>


<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

<title>Game Design{% block title %}{% endblock %}</title>
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>

	<div class="nav-collapse collapse">
	  <u1 class="nav pull-right">
	    {% if user.is_authenticated %}
	    <li class="navbar-text">Welcome, {{ user.username }}!</li>
	    <li><a href="/user_control/logout/">Logout</a></li>
	    {% else %}
	    <li><a href="/user_control/register/">Register</a></li>
	    <li><a href="/user_control/login/">Login</a></li>
	    {% endif %}
	  </u1>
	  <u1 class="nav">
	    {% if user.is_authenticated %}
	    <li><a href="/rango/restricted/">Restricted-doesn't work</a></li>
	    <li><a href="/rango/add_category/">Add Category-doesn't work</a></li>
	    {% endif %}
	  </u1>
	</div>
	<!--/.nav-collapse -->
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
	<!-- Empty for now -->
      </div>
      <!--/.well -->
    </div>
    <!--/span-->
    <div class="span9">
    {% block body_block %}
    {% endblock %}
    </div>
    <!--/span-->
  </div>
  <!--/row-->
</div>
<!--/.fluid-container-->
      
  <hr>

<footer>
  <div class="container">
    <p>Game Designer &copy; 2014 Andrew Schechtman-Rook</p>
  </div>
</footer>

<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


</body>

</html>

